In [1]:
#-------------------------------
# Dependencies and Setup
#-------------------------------

import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st



#-------------------------------
# Dependencies and Setup
#-------------------------------

arrest_data = "Resources/NYPD_Arrest_Data_2023.csv"
borough_zip_data = "Resources/nyc_zip_borough_neighborhoods.csv"
mental_fac_data = "Resources/NYS-Mental-Facilities.csv"


#-------------------------------
# Create Dataframes
#-------------------------------

arrest_df = pd.read_csv(arrest_data)
zip_df = pd.read_csv(borough_zip_data)
menta_fac_df = pd.read_csv(mental_fac_data)

zip_df.head()

     zip    borough         neighborhood  population  density
0  10001  Manhattan  Chelsea and Clinton       21102    33959
1  10002  Manhattan      Lower East Side       81410    92573
2  10003  Manhattan      Lower East Side       56024    97188
3  10004  Manhattan      Lower Manhattan        3089     5519
4  10005  Manhattan      Lower Manhattan        7135    97048

In [3]:
reduced_df =zip_df[["zip", "borough", "population"]]
reduced_df.head()

     zip    borough  population
0  10001  Manhattan       21102
1  10002  Manhattan       81410
2  10003  Manhattan       56024
3  10004  Manhattan        3089
4  10005  Manhattan        7135

In [5]:
zip_df.shape

(177, 5)

In [14]:
# Create new dataframe with duplicate and missing data
clean_zip_df
zip_df = drop_duplicates("index", "neighborhood", "density")
zip_df= df.drop_duplicates()

NameError: name 'drop_duplicates' is not defined