In [22]:
#-------------------------------
# Dependencies and Setup
#-------------------------------

import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st


#-------------------------------
# Dependencies and Setup
#-------------------------------

pop_df = pd.read_csv('resources/NYC_Bor_pop.csv')
arrest_df = pd.read_csv('resources/NYC_Bor_Arrest.csv')
MentFac_df = pd.read_csv('resources/Ment_Fac_Bor.csv')

In [20]:
arrest_df.ARREST_BORO.unique()
arrest_df['ARREST_BORO'] = arrest_df['ARREST_BORO'].replace(['B', 'K', 'M', 'Q', 'S'], ['Bronx', 'Brooklyn', 'Manhatten', 'Queens', 'Staten Island'])
arrest_bor_df = arrest_df.groupby('ARREST_BORO')
arrest_bor_count = arrest_bor_df.size()
arrest_bor_count_df = arrest_bor_count.reset_index(name='Arrest Count')
arrest_bor_count_df = arrest_bor_count_df.rename(columns={'ARREST_BORO':'Borough'})
arrest_bor_count_df.head()

         Borough  Arrest Count
0          Bronx         39957
1       Brooklyn         46825
2      Manhatten         39652
3         Queens         36246
4  Staten Island          7415

In [24]:
MentFac_df.borough.unique()

array(['Brooklyn', 'Manhattan', 'Queens', 'Bronx', 'Staten Island'],
      dtype=object)

In [25]:
MentFac_df.borough.unique()
MentFac_df['borough'] = MentFac_df['borough'].replace(['Manhattan'], ['Manhatten'])
Grouped_MentFac_df = MentFac_df.groupby('borough')
Grouped_MentFac_count = Grouped_MentFac_df.size()
MenFac_count_df = Grouped_MentFac_count.reset_index(name='Facility Count')
MenFac_count_df = MenFac_count_df.rename(columns={'borough':'Borough'})
MenFac_count_df.head()

         Borough  Facility Count
0          Bronx               9
1       Brooklyn              19
2      Manhatten              33
3         Queens              14
4  Staten Island               3

In [29]:
MentFac_pop_df = pd.merge(MenFac_count_df, pop_df, on='Borough', how='outer')
MentFac_pop_df = MentFac_pop_df.rename(columns={'Age':'Population'})
MentFac_pop_df.head()

         Borough  Facility Count  Population
0          Bronx               9     1472654
1       Brooklyn              19     2736074
2      Manhatten              33     1694251
3         Queens              14     2405464
4  Staten Island               3      495747

In [18]:
pop_df = pop_df.rename(columns={'Age':'Population'})
pop_df.head()

         Borough  Population
0          Bronx     1472654
1       Brooklyn     2736074
2      Manhatten     1694251
3         Queens     2405464
4  Staten Island      495747

In [21]:
arrest_pop_df = pd.merge(arrest_bor_count_df, pop_df, on='Borough', how='outer')
arrest_pop_df.head()

         Borough  Arrest Count  Population
0          Bronx         39957     1472654
1       Brooklyn         46825     2736074
2      Manhatten         39652     1694251
3         Queens         36246     2405464
4  Staten Island          7415      495747

In [48]:
merged_arrest_mentfac_df = pd.merge(arrest_pop_df, MentFac_pop_df, on='Borough', how='outer')
merged_arrest_mentfac_df = merged_arrest_mentfac_df[['Borough', 'Arrest Count', 'Population_x', 'Facility Count']]
merged_arrest_mentfac_df = merged_arrest_mentfac_df.rename(columns={'Population_x':'Population'})

merged_arrest_mentfac_df['Crime Rate per 100,000'] = (merged_arrest_mentfac_df['Arrest Count'] / merged_arrest_mentfac_df['Population']) * 100000
merged_arrest_mentfac_df['Facility Rate per 100,000'] = (merged_arrest_mentfac_df['Facility Count'] / merged_arrest_mentfac_df['Population']) * 100000
merged_arrest_mentfac_df['Crime per Facility'] = (merged_arrest_mentfac_df['Crime Rate per 100,000'] / merged_arrest_mentfac_df['Facility Count'])
merged_arrest_mentfac_df
merged_arrest_mentfac_df.to_csv("Resources/merge_final_count.csv", index=False, header=True, mode='a')

chi test - how/when to experct values, total population, expected values would be the borough pop percentage multiplied by total arrests; screenshot of observed vs expected

bar graphs arrests & population, facility & population

geographic -